@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  @apply bg-slate-200/70;
  @apply dark:bg-neutral-900/[0.98];
  @apply dark:text-white;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;

  background: none;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Apply the animation to the element */
.loader {
  display: inline-block;
  height: 1rem;
  margin-left: 0.125rem;
  margin-right: 0.25rem;
  width: 1rem;
  border: 3px solid transparent;
  border-top: 3px solid #3498db;
  border-left: 3px solid #1569a1;
  border-bottom: 3px solid #074269;
  border-right: 3px solid #012a45;
  border-radius: 50px;
  animation: spin 0.7s linear infinite;
}
h1 {
  @apply text-3xl font-semibold;
}
.activeoutline {
  outline: 2px solid transparent;
}

.activeoutline:active {
  outline: 2px solid #e44b4b;
}
button {
  transition: transform 0.3s ease, opacity 0.3s ease;
  box-shadow: 0 0 5px #00000012;
}

button:active {
  transform: scaleX(0.95) scaleY(0.9);
  opacity: 0.8;
}
html {
  height: 100vh;
}
